<div class='new-chef-form-container'>
  <h1>Sign up to be added to HomeChef's list of local Chefs</h1>
  <%= form_with model: @chef, id:'new-chef-form' do |f| %>
  <%= f.label :email , class:'new-chef-label'%>
  <%= f.text_field :email, class:'new-chef-input' %>
  <%= f.label :first_name , class:'new-chef-label'%>
  <%= f.text_field :first_name, class:'new-chef-input' %>
  <%= f.label :last_name , class:'new-chef-label'%>
  <%= f.text_field :last_name, class:'new-chef-input' %>
  <%= f.label :password , class:'new-chef-label'%>
  <%= f.password_field :password, class:'new-chef-input' %>
  <%= f.label :password_confirmation , class:'new-chef-label'%>
  <%= f.password_field :password_confirmation, class:'new-chef-input' %>
  <%= f.label :years_of_professional_experience , class:'new-chef-label'%><br />
  <%= f.select :years_of_pro_experience, options_for_select(0..30), class:'new-chef-input' %><br /><br />
  <%= f.label :years_of_amatuer_experience , class:'new-chef-label'%><br />
  <%= f.select :years_of_am_experience, options_for_select(0..30), class:'new-chef-input' %><br /><br />
  <%= f.label :age , class:'new-chef-label'%>
  <p>(optional)</p>
  <%= f.select :age, options_for_select(18..100), include_blank: true, class:'new-chef-input' %><br /><br />
  <%= f.label :specialty , class:'new-chef-label'%>
  <%= f.text_field :specialty, class:'new-chef-input', placeholder:'Cantonese' %>
  <%= f.label 'Please Write a Breif Description of Yourself and Your Cooking', class:'new-chef-label' %>
  <%= f.text_area :self_description, class:'new-chef-input self-description' %>
  <p class='new-chef-label'>Please provide your zip code and how far you are willing to travel</p><br />
  <%= f.text_field :zip_code, class:'new-chef-input new-chef-zip' %>
  <%= f.select :travel_distance, options_for_select(10..100), class:'new-chef-input new-chef-distance' %>miles
  <p id='unavailable-question'>On which days of the week can you commit to being a HomeChef?</p>
  <%= f.check_box :monday, class:'new-chef-input day-checkbox' %>
  <%= f.label :monday, class: 'day-checkbox day-label' %>
  <%= f.check_box :tuesday, class:'new-chef-input day-checkbox' %>
  <%= f.label :tuesday, class: 'day-checkbox day-label' %>
  <%= f.check_box :wednesday, class:'new-chef-input day-checkbox' %>
  <%= f.label :wednesday, class: 'day-checkbox day-label' %>
  <%= f.check_box :thursday, class:'new-chef-input day-checkbox' %>
  <%= f.label :thursday, class: 'day-checkbox day-label' %>
  <%= f.check_box :friday, class:'new-chef-input day-checkbox' %>
  <%= f.label :friday, class: 'day-checkbox day-label' %>
  <%= f.check_box :saturday, class:'new-chef-input day-checkbox' %>
  <%= f.label :saturday, class: 'day-checkbox day-label' %>
  <%= f.check_box :sunday, class:'new-chef-input day-checkbox' %>
  <%= f.label :sunday, class: 'day-checkbox day-label' %><br />
  <%= f.file_field :pro_pic %>
  <%= f.submit 'Sign Up', class:'sign-up-button' %><br /><br />
  <% end %>
</div>

<%= javascript_pack_tag 'chef' %>