<div id='chef-dashboard'>
  <h1><%= "#{@chef.first_name.capitalize} #{@chef.last_name.capitalize}" %></h1>
  <ul>
    <li><%= @chef.email %></li>
    <li><%= @chef.specialty.capitalize %></li>
    <li><%= @chef.unavailable %></li>
    <li><%= @chef.city %></li>
    <li><%= @chef.state %></li>
    <li><%= @chef.zip %></li>
    <li><%= button_to 'Logout', chefs_logout_path, method: :delete %></li>
  </ul>
</div>