<div id='chef-dashboard'>
  <h1><%= "#{@chef.first_name.capitalize} #{@chef.last_name.capitalize}" %></h1>
  <div class='avatar-box'>
    <div class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Let People See You!</p>
        <%= form_with model: @chef, id:'chef-avatar-form' do |f| %>
          <%= f.file_field :avatar, class:'avatar-file-upload-button' %>
          <img id="avatar-preview" src="#" class='avatar' onerror="this.style.display='none'" />
          <%= f.submit 'Save', class: 'avatar-upload-button' %>
        <% end %>
      </div>
    </div>
    <% if facade.has_photo? %>
      <%= image_tag facade.profile_pic, class: 'avatar' %>
    <% else %>
      <div class='update-box'>
        <p>Upload a Profile Picture</p>
        <div class='avatar-modal-button'>
          <p>Upload</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class='dash-info'>
    <div class='self-info-header'>
      <ul>
        <li>Email:</li>
        <li>City:</li>
        <li>State:</li>
        <li>Zip:</li>
        <li>Specialty:</li>
        <li>Unavailable:</li>
      </ul>
    </div>
    <div class='self-info'>
      <ul>
        <li><%= facade.email %></li>
        <li><%= facade.city %></li>
        <li><%= facade.state %></li>
        <li><%= facade.zip %></li>
        <li><%= facade.specialty %></li>
        <li><%= facade.unavailable %></li>
      </ul>
    </div>
    <div id='chef-self-desc' data-chef=<%= facade.id %> >
      <h3>Self Description</h3>
      <p id='chef-self-description'><%= facade.self_description %></p>
      <div id='self_desc_edit_button'>
        <%= image_pack_tag 'editTransparent.png', id:'edit-image' %>
      </div>
    </div>
  </div>
  <%= button_to 'Logout', chefs_logout_path, id:'chef-logout-button', method: :delete %>
</div>

<%= javascript_pack_tag 'chef' %>