<div id='chef-dashboard'>
  <h1><%= "#{@chef.first_name.capitalize} #{@chef.last_name.capitalize}" %></h1>
  <% if facade.has_photo? %>
    <%= image_tag facade.profile_pic, class: 'profile-pic' %>
  <% else %>
    <div class='update-box'>
      <p>Upload a Photo to Let People See You</p>
      <%= file_field(:user, :pro_pic)%>
    </div>
  <% end %>
  <div class='dash-info'>
    <div class='self-info-header'>
      <ul>
        <li>Email:</li>
        <li>Specialty:</li>
        <li>City:</li>
        <li>State:</li>
        <li>Zip:</li>
        <li>Unavailable:</li>
      </ul>
    </div>
    <div class='self-info'>
      <ul>
        <li><%= facade.email %></li>
        <li><%= facade.specialty %></li>
        <li><%= facade.city %></li>
        <li><%= facade.state %></li>
        <li><%= facade.zip %></li>
        <li><%= facade.unavailable %></li>
      </ul>
    </div>
    <div id='chef-self-desc' data-chef=<%= facade.id %> >
      <h3>Self Description</h3>
      <p id='chef-self-description'><%= facade.self_description %></p>
      <div id='self_desc_edit_button'>
        <%= image_pack_tag 'editTransparent.png', id:'edit-image' %>
      </div>
    </div>
  </div>
  <%= button_to 'Logout', chefs_logout_path, id:'chef-logout-button', method: :delete %>
</div>

<%= javascript_pack_tag 'chef' %>