<!DOCTYPE html>
<html>
  <head>
    <title>HomeChef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id='alert'>
      <p id='alert-message'></p>
      <span id='closebtn' onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
    <%= yield %>
  </body>
</html>
